streamlit==1.27.2
pandas==2.1.1
weaviate-client==3.24.2
transformers==4.28.0
tokenizers==0.13.3
torch==2.0.0
peft==0.4.0
sentencepiece==0.1.99
cpm_kernels==1.0.11
accelerate==0.23.0
bitsandbytes==0.41.1
scipy==1.11.3
openai==0.28.1